<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946376108205-j9bpbmiloe8l6l32qco77k062ckjd73d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946376108205-j9bpbmiloe8l6l32qco77k062ckjd73d</string>
	<key>API_KEY</key>
	<string>AIzaSyAvvOceR5DtuTQJA68IApuv6dfssHXxkZw</string>
	<key>GCM_SENDER_ID</key>
	<string>946376108205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliva.IOS-app</string>
	<key>PROJECT_ID</key>
	<string>ios-app-100d6</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app-100d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946376108205:ios:e5549ea6e59fc048363e24</string>
	<key>DATABASE_URL</key>
	<string>https://ios-app-100d6.firebaseio.com</string>
</dict>
</plist>